@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;0,9..40,700;1,9..40,500&family=Inter:wght@300&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-size: 400;
}

.btn-theme {
  background-color: #F9D783;
  border-color: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-theme:hover {
  background-color: #191919;
  color: #DAD9D3;
}

.btn-theme-dark {
  background-color: #191919;
  border: 1px solid #191919;
  color: #DAD9D3;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-theme-dark:hover {
  background-color: #DAD9D3;
  color: #191919;
}

.btn-theme-white {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-theme-white:hover {
  background-color: #DAD9D3;
  color: #191919;
}

.btn-theme-beige {
  background-color: #F0EFE9;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 25px 35px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-theme-beige:hover {
  background-color: #DAD9D3;
  color: #191919;
}

header {
  background-color: #F0EFE9;
  padding: 15px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bar {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bar {
    display: none;
  }
}
header .container .top-menu {
  display: none;
  align-items: center;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .top-menu {
    display: block;
  }
}
header .container .top-menu .first-row {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 9px;
}
@media (min-width: 1200px) {
  header .container .top-menu .first-row {
    justify-content: space-between;
  }
}
header .container .top-menu .first-row .contact {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .top-menu .first-row .contact {
    display: flex;
    align-items: center;
  }
}
header .container .top-menu .first-row .contact .contact-info {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .top-menu .first-row .contact .contact-info i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .top-menu .first-row .contact.last {
  border: none;
}
header .container .top-menu .first-row .social .social-media {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 12px;
}
header .container .top-menu .first-row .social .social-media:hover {
  color: #DAD9D3;
}
header .container .second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .second-row .menu .link {
  color: #191919;
  text-decoration: none;
  margin-right: 15px;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
}
.showcase .showcase-content {
  padding: 10px;
}
.showcase .showcase-content .showcase-title {
  font-family: "DM+Sans";
  font-size: 96px;
  font-weight: 800;
  align-items: center;
}
.showcase .showcase-content .showcase-text {
  font-size: 20px;
  padding-bottom: 50px;
}

.logos img {
  padding: 60px;
}

.featured .container {
  border: 1px dotted #191919;
}
.featured .featured-content {
  display: flex;
  justify-content: space-between;
  padding: 90px;
}
.featured .featured-content .left-content .title {
  font-family: "Inter";
  font-size: 18px;
  color: #E4E4E4;
}
.featured .featured-content .left-content .text {
  font-family: "DM+Sans";
  font-size: 45px;
  font-weight: 800;
  color: #E4E4E4;
}
.featured .featured-content .left-content .button {
  margin-top: 20px;
  width: 430px;
  height: 56px;
  border-radius: 30px;
  background-color: #E4E4E4;
}
.featured .right-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 70px;
  margin-left: 20px;
}
.featured .right-content .content-group {
  padding-bottom: 30px;
}
.featured .right-content .content-group i {
  padding-bottom: 30px;
  font-size: 40px;
}
.featured .right-content .content-group .title {
  font-family: "DM+Sans";
  font-size: 22px;
  font-weight: 800;
}
.featured .right-content .content-group .text {
  font-family: "Inter";
  font-size: 16px;
  color: #E4E4E4;
}

.Company-info {
  margin-top: 70px;
}
.Company-info .container {
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
}
.Company-info .container .info-img {
  position: relative;
}
.Company-info .container .info-img .box {
  position: absolute;
  bottom: 60px;
  left: -50px;
  height: 180px;
  width: 370px;
  background-color: #BEEBFF;
  z-index: 1;
  padding: 20px;
}
.Company-info .container .info-img .box .title {
  font-family: "DM+Sans";
  font-size: 20px;
  font-weight: 800;
}
.Company-info .container .info-img .box .title span {
  color: #f94d1c;
  font-size: 16px;
}
.Company-info .container .info-img .box .text {
  padding-top: 10px;
  font-family: "Inter";
  font-size: 16px;
}
.Company-info .container .info-img img {
  margin-left: -10px;
  margin-bottom: 10px;
}
.Company-info .container .about {
  margin-left: 100px;
  padding: 20px;
}
.Company-info .container .about .red {
  font-family: "Inter";
  font-size: 18px;
  color: #f94d1c;
}
.Company-info .container .about .title {
  font-family: "DM+Sans";
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 30px;
}
.Company-info .container .about .text {
  font-family: "Inter";
  font-size: 16px;
  margin-bottom: 30px;
}
.Company-info .container .about .content {
  margin-top: 50px;
  display: flex;
}
.Company-info .container .about .content .btn-theme-dark {
  font-size: 16px;
  padding: 13px;
}
.Company-info .container .about .content .video {
  display: flex;
  margin-left: 30px;
  align-items: center;
}
.Company-info .container .about .content .video i {
  font-size: 40px;
}
.Company-info .container .about .content .video p {
  align-items: center;
  padding-left: 10px;
  padding-top: 16px;
}

.service {
  background-color: #F0EFE9;
  padding-bottom: 70px;
}
.service .container .small-title {
  padding-top: 40px;
  font-family: "Inter";
  font-size: 18px;
  color: #f94d1c;
}
.service .container .title {
  font-family: "DM+Sans";
  font-size: 45px;
  font-weight: 800;
  padding-bottom: 30px;
}
.service .container .boxes {
  display: flex;
  justify-content: space-between;
}
.service .container .boxes .box {
  position: relative;
  height: 330px;
  width: 300px;
  background-color: #FFFFFF;
  padding: 30px;
  margin-bottom: 40px;
}
.service .container .boxes .box .title {
  font-family: "DM+Sans";
  font-size: 22px;
  font-weight: 800;
  padding-top: 20px;
}
.service .container .boxes .box .info {
  font-family: "Inter";
  font-size: 16px;
  padding-top: 20px;
}
.service .container .boxes .box .more-info {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: #191919;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  align-items: center;
  justify-content: center;
}
.service .container .boxes .box .more-info i {
  padding: 9px;
  font-size: 25px;
}

.choose {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.choose .container {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}
.choose .container .left .red {
  font-family: "Inter";
  font-size: 18px;
  color: #f94d1c;
}
.choose .container .left .title {
  font-family: "DM+Sans";
  font-size: 45px;
  font-weight: 800;
  padding-bottom: 30px;
}
.choose .container .left .content-group {
  display: block;
}
.choose .container .left .content-group .content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.choose .container .left .content-group .content .icon {
  background-color: #F9D783;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  border-color: #191919;
}
.choose .container .left .content-group .content .icon i {
  padding: 20px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.choose .container .left .content-group .content .text-content {
  padding-left: 20px;
}
.choose .container .left .content-group .content .text-content .title {
  font-family: "DM+Sans";
  font-size: 22px;
  font-weight: 800;
  padding-bottom: 30px;
}
.choose .container .right img {
  max-width: 100%;
  height: auto;
  margin-top: 80px;
}
.choose .color-box {
  position: absolute;
  width: 1000px;
  height: 425px;
  background-color: #F0EFE9;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.projekt {
  margin-top: 50px;
  padding-bottom: 40px;
}
.projekt .container {
  align-items: center;
  text-align: center;
}
.projekt .container .red {
  font-family: "Inter";
  font-size: 18px;
  color: #f94d1c;
}
.projekt .container .title {
  font-family: "DM+Sans";
  font-size: 45px;
  font-weight: 800;
}
.projekt .container .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.projekt .container .grid .image-content {
  padding: 10px;
  margin-bottom: 20px;
}
.projekt .container .grid .image-content img {
  max-width: 645px;
  padding-bottom: 20px;
}
.projekt .container .grid .image-content .title {
  font-family: "DM+Sans";
  font-size: 22px;
  font-weight: 800;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
.projekt .container .grid .image-content .read-more {
  display: flex;
  justify-content: right;
  padding: 20px;
}

.members {
  background-color: #EDCF86;
  margin-top: 40px;
}
.members .container {
  background-color: transparent;
  padding-top: 40px;
  /* pagination koden = chat-gpt*/
}
.members .container .top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.members .container .top-content .red {
  font-family: "Inter";
  font-size: 18px;
  color: #f94d1c;
}
.members .container .top-content .title {
  font-family: "DM+Sans";
  font-size: 45px;
  font-weight: 800;
}
.members .container .btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.members .container .btn-container .btn-theme {
  border-color: #191919;
  margin-top: 15px;
  padding: 10px 20px;
}
.members .container .content-image {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}
.members .container .content-image .info img {
  width: 100%;
}
.members .container .content-image .info .name {
  font-family: "DM+Sans";
  font-size: 22px;
  font-weight: 800;
  padding-top: 20px;
}
.members .container .content-image .info .title {
  font-family: "Inter";
  font-size: 16px;
}
.members .container .pagination {
  position: absolute;
  left: 50%; /* Placera horisontellt i mitten av container */
  transform: translateX(-50%); /* Centrera horisontellt */
  list-style: none; /* Ta bort punktlistan */
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
}
.members .container .pagination li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px; /* Justera avstånd mellan pagineringspunkter */
}
.members .container .pagination li.active {
  background-color: #333; /* Aktiv pagineringspunkt */
}

.testimonial {
  background-color: #EDCF86;
  padding-top: 60px;
  padding-bottom: 60px;
}
.testimonial .container {
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}
.testimonial .container .text {
  text-align: center;
  padding-top: 60px;
}
.testimonial .container .text .red {
  font-family: "Inter";
  font-size: 18px;
  color: #f94d1c;
}
.testimonial .container .text .title {
  font-family: "DM+Sans";
  font-size: 45px;
  font-weight: 800;
}
.testimonial .container .box {
  display: flex;
  justify-content: space-between;
}
.testimonial .container .box .reviews {
  display: block;
  padding: 50px;
}
.testimonial .container .box .reviews .stars {
  color: #f94d1c;
}
.testimonial .container .box .reviews .person {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
}
.testimonial .container .box .reviews .person .content .name {
  font-family: "DM+Sans";
  font-size: 22px;
  font-weight: 800;
}
.testimonial .container .box .reviews .person .content .title {
  font-family: "Inter";
  font-size: 16px;
  color: #f94d1c;
}
.testimonial .container .button {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.news .container {
  /* pagination koden = chat-gpt*/
}
.news .container .top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news .container .top-content .text {
  position: relative;
  text-align: left;
  padding-top: 60px;
}
.news .container .top-content .text .red {
  font-family: "Inter";
  font-size: 18px;
  color: #f94d1c;
}
.news .container .top-content .text .title {
  font-family: "DM+Sans";
  font-size: 45px;
  font-weight: 800;
}
.news .container .top-content .btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news .container .top-content .btn-container .btn-theme-white {
  border-color: #191919;
  margin-top: 80px;
  padding: 10px 20px;
}
.news .container .content-image {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.news .container .content-image .info {
  position: relative;
  padding: 20px;
}
.news .container .content-image .info .small-title {
  padding-top: 20px;
  font-family: "Inter";
  font-size: 16px;
}
.news .container .content-image .info .title {
  font-family: "DM+Sans";
  font-size: 22px;
  font-weight: 800;
  padding-top: 20px;
}
.news .container .content-image .info .text {
  padding-top: 20px;
  font-family: "Inter";
  font-size: 16px;
}
.news .container .content-image .info .date {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #EDCF86;
  width: 60px;
  height: 60px;
  text-align: center;
}
.news .container .content-image .info .date .day {
  font-family: "DM+Sans";
  font-size: 22px;
  font-weight: 800;
}
.news .container .content-image .info .date .mon {
  font-family: "Inter";
  font-size: 16px;
}
.news .container .pagination {
  position: absolute;
  left: 50%; /* Placera horisontellt i mitten av container */
  transform: translateX(-50%); /* Centrera horisontellt */
  list-style: none; /* Ta bort punktlistan */
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
}
.news .container .pagination li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px; /* Justera avstånd mellan pagineringspunkter */
}
.news .container .pagination li.active {
  background-color: #333; /* Aktiv pagineringspunkt */
}

.signup {
  margin-top: 50px;
  background-color: #F0EFE9;
  height: 250px;
}
.signup .container {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup .container .text {
  font-family: "DM+Sans";
  font-size: 45px;
  font-weight: 800;
}
.signup .container form input {
  border-radius: 25px;
  padding: 20px;
  border: none;
  height: 50px;
  width: 300px;
}
.signup .container form .btn-theme {
  padding: 15px 30px;
}

.footer {
  background-color: #0E1021;
  height: 500px;
}
.footer .container {
  background-color: transparent;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer .container .info {
  max-width: 30%;
}
.footer .container .info .logo {
  padding-bottom: 20px;
}
.footer .container .info .text {
  color: #DAD9D3;
}
.footer .container .link-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.footer .container .link-content .links {
  padding-left: 40px;
}
.footer .container .link-content .links .big {
  font-family: "DM+Sans";
  font-size: 22px;
  font-weight: 800;
  color: #F0EFE9;
  text-decoration: none;
}
.footer .container .link-content .links .small {
  display: block;
  font-family: "Inter";
  font-size: 16px;
  color: #F0EFE9;
  text-decoration: none;
  padding-bottom: 20px;
}

.footer-bottom {
  background-color: #0E1021;
  border-top: 1px dotted #F0EFE9;
}
.footer-bottom .container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.footer-bottom .container .copyright {
  padding: 10px;
  font-family: "Inter";
  font-size: 16px;
  color: #F0EFE9;
}
.footer-bottom .container .social {
  padding: 10px;
}
.footer-bottom .container .social .social-media {
  margin-left: 15px;
  font-size: 1.3rem;
  color: #F0EFE9;
}
.footer-bottom .container .social .social-media:hover {
  color: #DAD9D3;
}

/* News */
.showcase-title {
  background-color: #F0EFE9;
}
.showcase-title .container {
  padding-top: 120px;
  padding-bottom: 100px;
}
.showcase-title .container .label {
  display: flex;
  justify-content: center;
}
.showcase-title .container .label .link {
  padding-left: 10px;
  font-family: "Inter";
  font-size: 16px;
  color: #0E1021;
  text-decoration: none;
}
.showcase-title .container .title {
  font-family: "DM+Sans";
  font-size: 56px;
  font-weight: 800;
  text-align: center;
}

.news-articles {
  padding-top: 100px;
}
.news-articles .container .title {
  padding-left: 5px;
  font-family: "DM+Sans";
  font-size: 45px;
  font-weight: 800;
}
.news-articles .container .content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.news-articles .container .content .info {
  position: relative;
  padding: 20px;
}
.news-articles .container .content .info .small-title {
  padding-top: 20px;
  font-family: "Inter";
  font-size: 16px;
}
.news-articles .container .content .info .title {
  font-family: "DM+Sans";
  font-size: 22px;
  font-weight: 800;
  padding-top: 20px;
}
.news-articles .container .content .info .text {
  padding-top: 20px;
  font-family: "Inter";
  font-size: 16px;
}
.news-articles .container .content .info .date {
  position: absolute;
  top: 37px;
  left: 35px;
  background-color: #EDCF86;
  width: 60px;
  height: 60px;
  text-align: center;
}
.news-articles .container .content .info .date .day {
  font-family: "DM+Sans";
  font-size: 22px;
  font-weight: 800;
}
.news-articles .container .content .info .date .mon {
  font-family: "Inter";
  font-size: 16px;
}
.news-articles .container .pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.news-articles .container .pagination li {
  margin: 0 8px;
}
.news-articles .container .pagination a {
  text-decoration: none;
  color: #191919;
  padding: 5px 10px;
  border: 1px solid #191919;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}
.news-articles .container .pagination a:hover {
  background-color: #191919;
  color: #F0EFE9;
}

/* contact */
.contact-data {
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact-data .container {
  display: flex;
  justify-content: space-between;
}
.contact-data .container .box {
  border: 1px solid #F0EFE9;
  height: 205px;
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-data .container .box .icon {
  height: 60px;
  width: 60px;
  background-color: #0E1021;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-data .container .box .icon i {
  color: #F0EFE9;
  font-size: 1.2rem;
  align-items: center;
}
.contact-data .container .box .info {
  display: block;
  padding-top: 20px;
  margin-left: 20px;
}
.contact-data .container .box .info .text {
  font-family: "DM+Sans";
  font-size: 22px;
  font-weight: 800;
}
.contact-data .container .box .info .data {
  font-family: "Inter";
  font-size: 18px;
}

.contact-form .container {
  background-color: #F0EFE9;
  padding-top: 120px;
  padding-bottom: 100px;
}
.contact-form .container .title {
  font-family: "DM+Sans";
  font-size: 45px;
  font-weight: 800;
  text-align: center;
}
.contact-form .container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form .container form .form-group {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
  grid-template-areas: "name" "email" "message";
}
.contact-form .container form .form-group input[type=text],
.contact-form .container form .form-group textarea {
  display: block;
  width: 1000px;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
.contact-form .container form .form-group textarea {
  height: 200px;
}
.contact-form .container form .form-group ::-moz-placeholder {
  color: #F0EFE9;
}
.contact-form .container form .form-group ::placeholder {
  color: #F0EFE9;
}
.contact-form .container form button {
  margin-top: 20px;
  width: 1000px;
  border: none;
}

.map iframe {
  width: 100%;
  height: 600px;
}/*# sourceMappingURL=style.css.map */